<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <!-- the app will look in SourcePath for proposal files with filenames that match a certain pattern -->
    <add key="SourcePath" value="L:\Proposals\Cosential\P# Proposal Files Upload\Britt\Latest P# October 2016\Original Files 10032016\"/>
  
    <!-- renamed proposals are saved in the destination path -->
    <add key="DestinationPath" value="L:\Proposals\Cosential\P# Proposal Files Upload\Britt\Latest P# October 2016\Renamed Files\"/>
    
    <!-- pattern to use when searching for proposal files.-->
    <add key="MatchRegexPattern" value="(.*)(P(?:MD)?)([0-9]{4,6})(.*)"/>
  </appSettings>
</configuration>